<a href="https://colab.research.google.com/github/VishnuBhaarath/Algostrack/blob/master/COVID19analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
df=pd.read_csv('covid_19_data.csv')

In [0]:
df.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [0]:
df.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [0]:
df['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia',
       'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France',
       'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast',
       'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy',
       'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt',
       'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan',
       'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia',
       'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia',
       'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands',
       'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania',
       'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic',
       'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
       'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal',
       'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy',
       'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland',
       'Tunisia', 'Palestine', 'Bosnia and Herzegovina', 'Slovenia',
       'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica', 'Peru',
       'Serbia', 'Slovakia', 'Togo', 'Vatican City', 'French Guiana',
       'Malta', 'Martinique', 'Republic of Ireland', 'Bulgaria',
       'Maldives', 'Bangladesh', 'Moldova', 'Paraguay', 'Albania',
       'Cyprus', 'St. Martin', 'Brunei', 'occupied Palestinian territory',
       "('St. Martin',)", 'Burkina Faso', 'Channel Islands', 'Holy See',
       'Mongolia', 'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)',
       'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos',
       'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Western Sahara', 'Sao Tome and Principe', 'Yemen'],
      dtype=object)

MainlandChina

In [0]:
MainlandChina=df[df['Country/Region']=='Mainland China']
MainlandChina.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [0]:
ConfirmedcasesMainlandChina=MainlandChina['Confirmed']
ConfirmedcasesMainlandChina.sum(axis=0)

5239552.0

In [0]:
DeathcasesMainlandChina=MainlandChina['Deaths']
DeathcasesMainlandChina.sum(axis=0)

188935.0

In [0]:
RecoveredcasesMainlandChina=MainlandChina['Recovered']
RecoveredcasesMainlandChina.sum(axis=0)

3385015.0

Latest Updates

In [0]:
data=pd.read_excel('Book3.xlsx')

In [0]:
data.head()

   Unnamed: 0  Unnamed: 1  Unnamed: 2  ...  Unnamed: 6 Unnamed: 7 Unnamed: 8
0         NaN         NaN         NaN  ...         NaN        NaN        NaN
1         NaN         NaN         NaN  ...    Recoverd     Deaths        NaN
2         NaN         NaN         NaN  ...       43006      73379       [12]
3         NaN         NaN         NaN  ...       21282      82514       [15]
4         NaN         NaN         NaN  ...       24268      51600       [18]

[5 rows x 9 columns]

In [0]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [0]:
Worldwidelist=data[['Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7']]

In [0]:
Worldwidelist.head()

         Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
0               NaN        NaN        NaN        NaN
1         Countries  Confirmed   Recoverd     Deaths
2  United States[e]     800932      43006      73379
3          Spain[f]     204178      21282      82514
4          Italy[g]     183957      24268      51600

In [0]:
Worldwidelist=Worldwidelist.dropna()

In [0]:
Worldwidelist=Worldwidelist.rename(columns={"Unnamed: 4": "Countries", "Unnamed: 5": "Confirmed cases","Unnamed: 6": "Recoverd cases","Unnamed: 7": "Deaths"})

In [0]:
Worldwidelist.head()

          Countries Confirmed cases Recoverd cases  Deaths
1         Countries       Confirmed       Recoverd  Deaths
2  United States[e]          800932          43006   73379
3          Spain[f]          204178          21282   82514
4          Italy[g]          183957          24268   51600
5        Germany[h]          148004           4939   84717

In [0]:
Worldwidelist=Worldwidelist.drop(1)

In [0]:
Worldwidelist.head()

           Countries Confirmed cases Recoverd cases Deaths
2   United States[e]          800932          43006  73379
3           Spain[f]          204178          21282  82514
4           Italy[g]          183957          24268  51600
5         Germany[h]          148004           4939  84717
6  United Kingdom[i]          129044          17337      —

In [0]:
Worldwidelist['recoveredtoconfirm']=Worldwidelist['Recoverd cases']/Worldwidelist['Confirmed cases']

In [0]:
Worldwidelist.head()

           Countries Confirmed cases Recoverd cases Deaths recoveredtoconfirm
2   United States[e]          800932          43006  73379          0.0536949
3           Spain[f]          204178          21282  82514           0.104233
4           Italy[g]          183957          24268  51600           0.131922
5         Germany[h]          148004           4939  84717          0.0333707
6  United Kingdom[i]          129044          17337      —            0.13435

In [0]:
Worldwidelist=Worldwidelist.dropna()

In [0]:
Worldwidelist.head()

           Countries Confirmed cases Recoverd cases Deaths recoveredtoconfirm
2   United States[e]          800932          43006  73379          0.0536949
3           Spain[f]          204178          21282  82514           0.104233
4           Italy[g]          183957          24268  51600           0.131922
5         Germany[h]          148004           4939  84717          0.0333707
6  United Kingdom[i]          129044          17337      —            0.13435

In [0]:
Worldwidelist['deathtoconfirm']=Worldwidelist['Deaths']/Worldwidelist['Confirmed cases']

In [0]:
import matplotlib.pyplot as plt

In [0]:
plot = Worldwidelist.plot.pie(y='Confirmed cases', labels=Worldwidelist['Countries'], figsize=(5, 5))

In [7]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)

In [0]:
writer = pd.ExcelWriter('Covid19latest.xlsx')
Worldwidelist.to_excel(writer)
# save the excel
writer.save()
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.

DEATHS vs CASE FATALITY RATE (PER MILLION)

In [0]:
df=pd.read_csv('deaths-covid-19-vs-case-fatality-rate.csv')

In [4]:
df.head()

        Entity  ... Total confirmed COVID-19 deaths (deaths)
0  Afghanistan  ...                                        0
1  Afghanistan  ...                                        0
2  Afghanistan  ...                                        0
3  Afghanistan  ...                                        0
4  Afghanistan  ...                                        0

[5 rows x 5 columns]

In [0]:
df=df.dropna()

In [6]:
df.head()

         Entity  ... Total confirmed COVID-19 deaths (deaths)
79  Afghanistan  ...                                        3
80  Afghanistan  ...                                        4
81  Afghanistan  ...                                        4
82  Afghanistan  ...                                        4
83  Afghanistan  ...                                        4

[5 rows x 5 columns]

In [0]:

df.to_csv('deathsvsfatality.csv')
# save the excel